* {
  margin: 0px;
  box-sizing: border-box;
  vertical-align: top;
}

html, body {
  height: 100%;
}

#textboxes {
  height: 40%;
  width: 100%;
  font-size: 0px;
}

textarea {
  resize: none;
  width: 33.3333%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 60%;
}

textarea, iframe {
  border: 0.5px solid;
}

a, button {
  background: black;
  color: limegreen;
  text-decoration: none;
  padding: 2px 5px;
  border: none;
}

#bottomleft-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#bottomleft-buttons button {
  display: block;
  margin: 0;
  width: 100%;
  border-top: 1px solid limegreen;
}

#topright-buttons {
  position: absolute;
  top: 0;
  right: 0;
}

form {
  display: inline;
}

label, input[type="checkbox"] {
  vertical-align: baseline;
  text-align: center;
  padding: 5px;
  padding-bottom: 2px;
  background: white;
}
