* {
  margin: 0px;
  box-sizing: border-box;
  vertical-align: top;
}

html, body {
  height: 100%;
}

#textboxes {
  height: 40%;
  width: 100%;
}

textarea {
  resize: none;
  width: 33.3333%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 60%;
}

textarea, iframe {
  border: 0.5px solid;
}

a, button {
  background: black;
  color: limegreen;
  text-decoration: none;
  padding: 2px 5px;
  border: none;
}

#buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}

form {
  display: inline;
}
